.DS_Store
.dart_tool/

.packages
.pub/
.flutter-plugins

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.flutter-plugins-dependencies
